* {
  box-sizing: border-box;
}

.body {
  .phone {
    height: 450px;
    width: 270px;

    margin-top: 90px;
    margin-left: 572px;
    margin-right: 572px;

    padding: 35px;

    border: 2px solid;
    border-radius: 20px;

    .form {
      font-size: 14px;

      .photo {
        margin-bottom: 5px;
      }

      .form-control {
        margin-bottom: 3px;

        font-size: 14px;
      }

      select {
        text-indent: 4px;
      }

      .btn.btn-dark.btn-block {
        margin-top: 12px;
      }
    }
  }
}